In [30]:
import numpy as np
import pandas as pd
player1=pd.DataFrame({'id':[101,102,103],'name':['xxx','yyy','zzz'],'age':[23,24,34],'country':['ind','end','jpn'],'salary':[900,890,990]})
print('\n player1 details\n')
player1

 player1 details

    id name  age country  salary
0  101  xxx   23     ind     900
1  102  yyy   24     end     890
2  103  zzz   34     jpn     990

In [25]:
player2=pd.DataFrame({'id':[104,106,105],'name':['xx','yy','zz'],'age':[23,24,34],'country':['ind','end','jpn']})
print('\n player2 details\n')
player2

 player2 details

    id name  age country
0  104   xx   23     ind
1  106   yy   24     end
2  105   zz   34     jpn

In [4]:
pd.merge(player1,player2,on='id')

    id name_x  age_x country_x name_y  age_y country_y
0  101    xxx     23       ind     xx     23       ind

In [12]:
left=pd.DataFrame({'a':['aa','bb','cc'],'b':['bb','cc','dd']},index=['k1','k2','k3'])
right=pd.DataFrame({'c':['aa','bb','cc'],'d':['bb','cc','dd']},index=['k0','k2','k3'])

right

     c   d
k0  aa  bb
k2  bb  cc
k3  cc  dd

In [10]:
left

     a   b
k1  aa  bb
k2  bb  cc
k3  cc  dd

In [15]:
player1.join(player2)

ValueError: columns overlap but no suffix specified: Index(['id', 'name', 'age', 'country'], dtype='object')

In [36]:
def salary_hike(x):
    if (x > 800):
        return np.ceil(x + 100)
    else:
        return np.ceil(x + (x * .30))
    player1 ('newsalary')=player1['salary'].apply(salary_hike)

SyntaxError: illegal target for annotation (2033144444.py, line 6)

In [33]:
player1

    id name  age country  salary
0  101  xxx   23     ind     900
1  102  yyy   24     end     890
2  103  zzz   34     jpn     990